<div>
  <app-dropdown
    label="Select a limit for the query"
    [items]="limitOptions"
    [valueField]="'value'"
    [displayField]="'text'"
    (selectionChanged)="onLimitChange($event)"
  ></app-dropdown>

  <button class="btn btn-outline-primary my-1" (click)="runQuery()">
    Run Query
  </button>

  <div class="my-1">
    <span class="form-text text-danger" *ngIf="error">{{ error }}</span>
    <span class="form-text text-success" *ngIf="success">{{ success }}</span>
  </div>

  <pre *ngIf="sickLeaves">{{ sickLeaves | json}}</pre>
</div>
