<div class="container mx-auto w-80 m-5 border rounded">
  <div class="d-flex justify-content-between align-items-center my-3 mx-2">
    <h4 class="mb-0">Query Runner</h4>
    <button class="btn btn-outline-primary" [routerLink]="['/dashboard']">
      Admin Dashboard
    </button>
  </div>

  <hr>

  <div class="btn-group" role="group">
    <app-dropdown
      label="Select the query you want to run"
      [items]="queryOptions"
      (selectionChanged)="selectQuery($event)">
    </app-dropdown>
  </div>

  <hr>

  @if (selectedQuery === 'Patients By GP') {
    <app-patient-by-id-query></app-patient-by-id-query>
  } @else if (selectedQuery === 'Patients Count For All GP Doctors') {
    <app-count-patients-gp-doctors-query></app-count-patients-gp-doctors-query>
  } @else if (selectedQuery === 'Patients By ICD Diagnosis') {
    <app-patients-by-icd-query></app-patients-by-icd-query>
  } @else if (selectedQuery === 'Occurrence Of ICD Diagnoses') {
    <app-icd-occurrence-query></app-icd-occurrence-query>
  } @else if (selectedQuery === 'Doctor Appointments Count') {
    <app-doctor-appointments-count-query></app-doctor-appointments-count-query>
  } @else if (selectedQuery === 'List Appointments By Patients') {
    <app-list-appointments-by-patients-query></app-list-appointments-by-patients-query>
  } @else if (selectedQuery === 'List Appointments By Time Period') {
    <app-list-appointments-by-time-period-query></app-list-appointments-by-time-period-query>
  } @else if (selectedQuery === 'List Appointments By Time Period And Doctor') {
    <app-list-appointments-by-time-period-and-doctor-query></app-list-appointments-by-time-period-and-doctor-query>
  } @else if (selectedQuery === 'Most Sick Leaves - Month') {
    <app-most-sick-leaves-month-query></app-most-sick-leaves-month-query>
  } @else if (selectedQuery === 'Most Sick Leaves - Doctor') {
    <app-most-sick-leaves-doctor-query></app-most-sick-leaves-doctor-query>
  }

</div>
