<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <app-text-input
    label="Enter year"
    type="text"
    placeholder="Enter the year you want to run the query againsts"
    formControlName="year"
    [error]="form.get('year')?.errors && form.get('year')?.touched ? 'The year must be in the format yyyy!': ''"
  ></app-text-input>

  <button
    class="btn btn-outline-primary my-3"
    type="submit"
    [disabled]="form.invalid"
  >Run Query</button>

  <div class="my-1">
    <span class="form-text text-danger" *ngIf="error">{{ error }}</span>
    <span class="form-text text-success" *ngIf="success">{{ success }}</span>
  </div>

  <pre *ngIf="monthCount">{{ monthCount | json}}</pre>
</form>
