<div class="my-3 mx-2">
  <h4>New Appointment</h4>

  <div>
    <form [formGroup]="createAppointmentForm" (ngSubmit)="onSubmit()">
      <app-text-input
        label="Date"
        type="text"
        placeholder="Enter the date of the appointment"
        formControlName="date"
        [error]="createAppointmentForm.get('date')?.errors && createAppointmentForm.get('date')?.touched ? 'The date should be in yyyy-mm-dd format!' : ''"
      ></app-text-input>

      <app-text-input
        label="Time"
        type="text"
        placeholder="Enter the time of the appointment"
        formControlName="time"
        [error]="createAppointmentForm.get('time')?.errors && createAppointmentForm.get('time')?.touched ? 'The time should be in hh:mm format!' : ''"
      ></app-text-input>

      <app-dropdown
        label="Select the doctor you want to visit"
        [items]="doctors"
        [valueField]="'id'"
        [displayField]="'firstName'"
        [errorMessage]="doctorsFetchError"
        formControlName="doctorId"
      ></app-dropdown>

      <button
        class="my-2 btn btn-outline-primary"
        type="submit"
        [disabled]="createAppointmentForm.invalid"
      >Submit</button>

      <div class="my-3">
        <span class="form-text text-danger" *ngIf="appointmentCreateError">{{ appointmentCreateError }}</span>
        <span class="form-text text-success" *ngIf="appointmentCreateSuccess">{{ appointmentCreateSuccess }}</span>
      </div>
    </form>
  </div>

  <hr/>

  <h4>Your Appointment History</h4>

  <div *ngFor="let appointment of appointments">
    <div class="card my-2">
      <div class="card-body">
        @if (appointment.performedByGp) {
          <h5 class="card-title" >General Practitioner visit - {{ appointment.doctor?.firstName }} {{ appointment.doctor?.lastName }}</h5>
        } @else {
          <h5 class="card-title" >{{ appointment.doctor?.specialty?.name }} visit - {{ appointment.doctor?.firstName }} {{ appointment.doctor?.lastName }}</h5>
        }
        @if (appointment.status === 'upcoming') {
          <p class="card-subtitle">Upcoming at: {{ appointment.time }} - {{ appointment.date }}</p>
        } @else if (appointment.status === 'started'){
          <p class="card-subtitle">Sit tight, the doctor is entering the details for the appointment at this moment</p>
        } @else {
          <p class="card-subtitle">Conducted on: {{ appointment.time }} - {{ appointment.date }}</p>
        }
      </div>
      @if (appointment.diagnosis !== null) {
        <div class="card-body">
          <h5 class="card-title" >Specialist's diagnosis - {{ appointment.diagnosis.icd.description }} (ICD: {{ appointment.diagnosis.icd.code }})</h5>
          <p class="card-subtitle">Treatment - {{ appointment.diagnosis.treatmentDescription }}</p>
          @if (appointment.diagnosis.sickLeave !== null) {
            <p class="card-subtitle">Sick leave: (from: {{ appointment.diagnosis.sickLeave.date }} | number of days: {{ appointment.diagnosis.sickLeave.numberOfDays }})</p>
          }
        </div>
      }
      <ul class="list-group list-group-flush">
        <li class="list-group-item">{{ appointment.doctor?.email }}</li>
      </ul>
    </div>
  </div>
</div>
